* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-height: 100svh;
  overflow-x: hidden;
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 36rem;
  margin: 0 auto;
  padding: .8rem 1.2rem;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: .5rem 0;
  font-size: 1.1rem;
  line-height: 25px;
}

/* 
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

::-moz-selection { /* Code for Firefox */
  background: #61dafb;
}

::selection {
  background: #61dafb;
}

.select {
  text-decoration: underline;
}

button {
  all: unset;
  cursor: pointer;
}

.lang {
  text-align: center;
  font-size: 1rem;
  margin: 1.4rem auto;
}

/* mobile */
@media (max-width: 410px) { 
  p {
    font-size: .87rem;
    line-height: 20px;
    margin: .5rem 0 0 0;
  }
  .lang {
    margin: 1rem auto;
    font-size: .8rem;
  }
}

/* iPhone browser */
@media (max-width: 380px) {
  .lang {
    margin: 0.5rem auto 0 auto;
  }
} 

/* Fold */
@media (max-width: 280px) {
  h1, h2 {
    font-size: medium;
  }
  p {
    font-size: .7rem;
    line-height: 18px;
  }
} 

